@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;600;800&display=swap');

body {
    background-color: #F7F9F9;
}

h1 {
    font-family: "Archivo", sans-serif;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    margin: 100px 0 50px 0;
}

h2 {
    font-family: "Archivo", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin: 100px 0 50px 0;
    padding: 0 300px;
}

.button-active, .button-disabled {
    background: #2081C3;
    border-radius: 20px;
    width: 175px;
    height: 60px;
    margin: 0 auto;
}

.button-disabled {
    background: #5F6C6C;
}

.button-active:hover {
    background: #63D2FF;
    cursor: pointer;
}

.button-txt {
    font-family: "Archivo", sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding: 17px 0;
}

.DatePicker {
    display: block;
    margin: 0 auto;
    width: 175px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid lightgray;
    font-family: inherit;
}

.input-div {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.duration-input-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    color: darkgray;
}

.duration-input, .duration-input-invalid, input[type="number"] {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    border: 2px solid lightgray;
    -moz-appearance: textfield;
}

.duration-input-invalid {
    border-color: red;
    background-color: rgba(255, 0, 0, 0.214);
}

.duration-input-invalid:focus {
    outline: none;
}

.rating-scale {
    width: 50%;
    height: 60px;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rating-option {
    width: 138px;
    height: 50px;
    background-color: rgb(236, 233, 233);
    text-align: center;
    color: black;
    cursor: pointer;
}

.rating-option:hover {
    background-color:#63D2FF;
}

.rating-option:first-child {
    border-radius: 20px 0 0 20px;
}

.rating-option:last-child {
    border-radius: 0 20px 20px 0;
}